<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Article List Page</title>
</head>
<body>
    <!--Semantic Tag-->
    <header th:replace="~{header.html::#header}"></header>
    <main>
        <form>
            <label for="search-type" hidden>유형</label>
            <select id="search-type" name="select-type">
                <option>제목</option>
                <option>본문</option>
                <option>아이디</option>
                <option>닉네임</option>
                <option>해시태그</option>
            </select>
            <label for="search-value" hidden>검색어</label>
            <input type="text" id="search-value" placeholder="검색어를 입력해주세요." name="search-value">
            <button type="submit">검색</button>
        </form>
        <table>
            <thead>
                <tr>
                    <th>제목</th>
                    <th>해시태그</th>
                    <th>작성자</th>
                    <th>작성일</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>첫 게시글 입니다.</td>
                    <td>Spring</td>
                    <td>kej</td>
                    <td>2023-02-18</td>
                </tr><tr>
                    <td>두번째 게시글 입니다.</td>
                    <td>Spring</td>
                    <td>kej</td>
                    <td>2023-02-17</td>
                </tr><tr>
                    <td>세번째 게시글 입니다.</td>
                    <td>Spring</td>
                    <td>kej</td>
                    <td>2023-02-16</td>
                </tr><tr>
                    <td>네번째 게시글 입니다.</td>
                    <td>Spring</td>
                    <td>kej</td>
                    <td>2023-02-15</td>
                </tr>
            </tbody>
        </table>
        <nav>
            <table>
                <tr>
                    <td>prev</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>next</td>
                </tr>
            </table>
        </nav>
    </main>

    <footer th:replace="footer::footer"></footer>
</body>
</html>
